.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div img {
    margin: 20px;
    width: 40%;
}