.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-light {
    background-color: var(--light-bg);
}

#about-dark {
    background-color: var(--dark-bg);
}

#about-light section {
    background-color: rgb(221, 255, 255);
}

#about-dark section {
    background-color: rgb(101, 129, 129);
}

.about-us section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2rem;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
}

.about-us p {
    max-width: 700px;   /* För större skärmar */
}

.text-left {
    padding-right: 20px;
}

.text-right {
    padding-left: 20px;
}