.order-list {
  color: #000;
  background-color: #e8e9eb;
  padding: 10px;
  border-radius: 5px;
  width: 80vw;
}

.order-item-top {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 1%;
}

.order-item-top p {
  flex: 1;
  text-align: center;
  margin-bottom: 0px;
}

.order-item {
  display: flex;
  align-items: center;
    padding: 10px;
    margin: 7px;
  border-radius: 10px;
}

.order-item p {
  flex: 1;
  text-align: center;
}

.order-item button {
  color: #000;
  padding: 15px;
}


.order-nav {
  display: flex;
  align-items: center;
  margin: 15px;
}

.filter-by-sender {
  margin-left: 30px;
}
.filter-by-sender input {
  background-color: #e8e9eb;
  color: #000;
}

.status-dropdown {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  background-color: #0a253bc7;
}

.user-id {
    text-decoration: underline;
}
.user-id:hover {
    cursor: pointer;
    color: rgb(13, 194, 194);
}
.user-id:active {
    color: #0a253bc7;
}