.order-list {
  color: #000;
  background-color: #e8e9eb;
  padding: 10px;
  border-radius: 5px;
  width: 80vw;
}

.order-nav {
  display: flex;
  align-items: center;
  margin: 15px;
}

.filter-by-sender {
  margin-left: 30px;
}
.filter-by-sender input {
  background-color: #e8e9eb;
  color: #000;
}

.status-dropdown {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  background-color: #0a253bc7;
}

.user-id {
    text-decoration: underline;
}
.user-id:hover {
    cursor: pointer;
    color: rgb(13, 194, 194);
}
.user-id:active {
    color: #0a253bc7;
}

table {
  width: 100%;
  margin-top: 50px;
}

thead {
  font-size: 18px;
}

tbody tr {
  height: 70px;
  text-align: center;
}

.color-box {
  display: inline-block;
  width: 14px; 
  height: 14px;
  border-radius: 30%;
  margin-right: 6px;
  vertical-align: middle;
}
