.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#dashboard-light {
    background-color: var(--light-bg);
}

#dashboard-dark {
    background-color: var(--dark-bg);
}

.new-shipment-btn {
    border: none;
    margin-left: -0.8rem;
    color: var(--light-turqoise);
}
.new-shipment-btn:active {
    outline: transparent;
    color: #FFF;
}