body {
  /* Make the body fill all the size of viewport */
  width: 100vw;
  height: 100vh;
}

/* Create a root container that fills the screen.
All child components will be vertically stacked in a column (footer hamnar i botten)*/
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin-bottom: 40px;
  margin-top: 200px;
}