
/* All elements are vertically stacked in a column (footer hamnar i botten)*/
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#app-light {
  background-color: var(--light-bg);
  color: var(--dark-text);
}
#app-light button {
  color: var(--dark-text);
  border-color: var(--dark-turquoise);
}
#app-light button:hover {
  color: var(--medium-turquoise);
  border-color: var(--light-turquoise);
}

#app-dark {
  background-color: var(--dark-bg);
}