:root {
  /* root for global variables */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: rgb(113, 255, 108);
  overflow-x: hidden; /* WCAG - Horisontell scroll 200% krävs endast på Dashboard. (Nav har flex-wrap) */
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --dark-bg: #171f31;
  --light-bg: #d6e7fc;
  --dark-turquoise: rgb(38, 99, 99);
  --medium-turquoise: #36a4ac;
  --light-turquoise: #c6f8fc;
  --dark-footer: #162f42;
  --light-footer: #caeaf0;
  --dark-text: #1f1f1f;
  --dark-btn: #0a253bc7;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3em;
}

button {
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  border-color: aliceblue;
  cursor: pointer;
  transition: border-color 0.1s;
}
button:hover {
  /* For mouse */
  color: var(--light-turquoise);
  border-color: var(--medium-turquoise);
}
button:focus {
  /* For tabbing */
  color: var(--light-turquoise);
  border-color: var(--medium-turquoise);
}

input {
  width: 220px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  -webkit-text-fill-color: black; /* Behåll svart färg vid autofill input */
}

input[type="submit"] {
  -webkit-text-fill-color: white;
  width: fit-content;
  border-radius: 7px;
  margin-top: 20px;
}
input[type="submit"]:focus {
  background-color: var(--medium-turquoise);
}

label {
  padding: 7px;
}

img {
  border-radius: 5px;
}

/* Drop down menyer för country och status */
select {
  border-radius: 5px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
}

li {
  font-size: 18px;
  margin: 20px;
}

a {
  color: var(--dark-text);
  text-decoration: none;
}
a:hover {
  color: var(--medium-turquoise);
  border-color: var(--medium-turquoise);
}
a:focus {
  color: var(--medium-turquoise);
  border-color: var(--medium-turquoise);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--medium-turquoise);
  padding: 15px;
  width: 500px;
  max-height: 70vh;
  overflow-y: auto; /* Om skärmhöjd är för kort så skapas scrollbar */
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 20px;
}

.modal * {
  margin-bottom: 10px;
}

.modal input {
  color: black; /* Black color for input text */

}

.modal-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title h2 {
  margin-right: 120px;
}