.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-input div {
    margin-bottom: 20px;
}

.switch {
    display: flex;
    flex-direction: row;
}

.switch button {
    margin-left: 10px;
}

.submit-input {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--dark-turquoise);
}

.submit-input:hover {
    cursor: pointer;
}