.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#login-light {
    background-color: var(--light-bg);
}
#login-dark {
    background-color: var(--dark-bg);
}

.login-signup div, .login-signup section {
    margin-bottom: 10px;
}

.switch {
    display: inline-flex;
    flex-direction: row;
}

.switch button {
    background-color: transparent;
    text-decoration: underline;
    border: none;
}

.submit-input {
    margin: auto;
    background-color: var(--dark-turquoise);
}
.submit-input:hover {
    cursor: pointer;
}

.guest-login button{
    margin-bottom: 50px;
}