.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-top: auto; /* Push footer to the bottom */
  background-color: rgb(58, 58, 58);
}

.footer div {
  padding: 10px;
}

.newsletter-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-signup input {
  background-color: #f9fafd;
  color: rgb(19, 19, 19);
  border-radius: 5px;
}

.button-response {
  display: flex;
  flex-direction: row;
}

.footer button:focus {  
  border-color: var(--dark-turquoise);
}