.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.nav div {
    display: flex;
    flex-direction: row;
    padding: 20px;
}