.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: var(--dark-bg);
}

.title {
    cursor: pointer;
    color: var(--light-turquoise);
    letter-spacing: 2px;
}

.nav div {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.nav-link button {
    border: none;
}

.nav button:focus {  
    border-color: var(--dark-turquoise);
  }