.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-light {
    background-color: var(--light-bg);
}

#profile-dark {
    background-color: var(--dark-bg);
}