.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--medium-turquoise);
  padding: 15px;
  width: 500px;
  max-height: 70vh;
  overflow-y: auto; /* Om skärmhöjd är för kort så skapas scrollbar */
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 20px;
}

.modal input {
  color: black; /* Black color for input text */
  background-color: white; /* White background for input field */
}

.close-button {
  margin-left: auto;
  margin-right: 8px;
  background-color: transparent;
  border-color: #ffffff;
}

.modal-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title h2 {
  margin-right: 120px;
}

input:disabled {
  opacity: 0.5;
}

.dropdown {
  width: 244px;
  height: 40px;
  background-color: white;
  color: black;
  margin-left: 10px;
  padding-left: 8px;
}

.calc-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc-btn {
  margin-top: 10px;
  background-color: var(--dark-turquoise);
}

.cost {
  font-size: 20px;
}

.form-submit:hover {
  cursor: pointer;
}
