.modal {
  background-color: rgb(124, 177, 190);
  border: 1px solid #c4f6f8;
  padding: 20px;
  max-width: fit-content;
  max-height: 70vh; /* Om skärmhöjd är för kort så skapas scrollbar */
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 20px;
}

.modal input {
  color: black; /* Black color for input text */
  background-color: white; /* White background for input field */
}

.close-button {
  margin-left: auto;
  margin-right: 8px;
  background-color: transparent;
  border-color: #ffffff;
}

.modal-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-title h2 {
  margin-right: 120px;
}

.form-submit {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.form-submit:hover {
  cursor: pointer;
}

input:disabled {
  opacity: 0.5;
}

.dropdown {
  width: 244px;
  height: 40px;
  background-color: white;
  color: black;
  margin-left: 10px;
  padding-left: 8px;
}

.cost {
  margin: auto;
  font-size: 20px;
}

.calc-btn {
  margin-right: 8px;
  background-color: var(--dark-turquoise);
} 

.user-input p {
  margin: auto;
}