.close-button {
  margin-left: auto;
  margin-right: 8px;
  background-color: transparent;
  border-color: #ffffff;
}

input:disabled {
  opacity: 0.5;
}

.dropdown {
  width: 244px;
  height: 40px;
  background-color: white;
  color: black;
  margin-left: 10px;
  padding-left: 8px;
}

.calc-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc-btn {
  margin-top: 10px;
  background-color: var(--dark-turquoise);
}

.cost {
  font-size: 20px;
}

.form-submit {
  background-color: var(--dark-turquoise);
}
.form-submit:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-title {
    display: flex;
    flex-direction: column;
  }
  .modal-title h2 {
    margin: 0;
    margin-bottom: 10px;
  }
}
